#container {
    /* background-color: #343a40; */
    border-radius: 9px;
    height: 580px;
    width: 1000px;
    margin: auto;
    position: relative;
}

.page_heading {
    margin-top: 2%;
}

.images, .infoText {
    cursor: pointer;
}

.sides {
    height: 100%; /* adjust height to div */
    width: calc(50% - 120px); /* 50% -> of div; 120px = target.width/2 */
}

#left {
    float: left;
}

#right {
    float: right;
}

#target {
    /* OG Höhe: 612 */
    position: absolute;

    /* to put silhouette centered */
    top: 300px;
    left: 420px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    z-index: 200;
    height: 500px;
    width: 814px;
}

#silhouette {
    height: 100%;
}

.bubble_target {
    position: absolute;
}

.parts_target {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}

#housing_target {
    width: 303px;
    height: 176px;
    top: 164px;
    left: 281px;
}

#antenna_target {
    width: 318px;
    height: 132px;
    top: 187px;
    left: 7px;
}

#power_target {
    width: 208px;
    height: 495px;
    top: 4px;
    left: 333px;
}

#thermal_control_target {
    width: 95.5px;
    height: 57px;
    top: 251px;
    left: 458px;
}

#guidance_control_target {
    width: 53px;
    height: 73px;
    top: 218px;
    left: 578px;
}

#command_datahandling_target {
    width: 95.5px;
    height: 59px;
    top: 195px;
    left: 457px;
}

#transponder_target {
    width: 126px;
    height: 114px;
    top: 197px;
    left: 340px;
}

#housing_bubble_target {
    width: 298px;
    height: 87px;
    top: 370px;
    left: 30px;
}

#antenna_bubble_target {
    width: 204px;
    height: 124px;
    top: 129px;
    left: 91px;
}

#power_bubble_target {
    width: 298px;
    height: 87px;
    top: 50px;
    left: 496px;
}

#thermal_control_bubble_target {
    width: 298px;
    height: 87px;
    top: 346px;
    left: 533px;
}

#guidance_control_bubble_target {
    width: 298px;
    height: 87px;
    top: 261px;
    left: 620px;
}

#command_datahandling_bubble_target {
    width: 298px;
    height: 87px;
    top: 175px;
    left: 534px;
}

#transponder_bubble_target {
    width: 204px;
    height: 124px;
    top: 330px;
    left: 330px;
}

.quiz_btn {
    margin-left: 80%;
    margin-top: -100%;
    width: 200px;
}

.quiz_btn-hidden {
    visibility: hidden;
    opacity: 0;
}

#levelBackBtn {
    width: 50px;
    height: 50px;
    position: relative;
    margin-left: 35px;
    top: 18px;
    cursor: pointer;
    background-color: transparent;
}