@()(implicit assetsFinder: AssetsFinder)

    @main("Puzzle Satellit") {
    <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8">
                <title>Puzzle Weltraumanzug</title>
                <link rel="stylesheet" type="text/css" href="@assetsFinder.path("stylesheets/puzzleSatellite.css")">

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
                <script type="text/javascript" src="@routes.Assets.versioned("javascripts/levelData.js")"> </script>
                <script type="text/javascript" src="@routes.Assets.versioned("javascripts/levelSelectionQuiz.js")"> </script>
            </head>
            <body>
                <div class="header_row">
                    <a href="@routes.MainPageController.mainpage()"> <img class="homebutton" src="@routes.Assets.versioned("/images/home.png")" alt="Home" width="50" height="50"></a>
                    <a href= '@routes.MainGameController.chooseLevelPuzzle()'><img id="levelBackBtn" src="@routes.Assets.versioned("/images/selectLevel.png")" alt="backIcon"></a>
                    <h1 class="page_heading">Level 1: Satellit</h1>
                </div>

                <div id="container">
                    <div id="left" class="sides"></div>
                    <div id="target">
                        <div id="housing_target" class="parts_target"></div>
                        <div id="antenna_target" class="parts_target"></div>
                        <div id="power_target" class="parts_target"></div>
                        <div id="thermal_control_target" class="parts_target"></div>
                        <div id="guidance_control_target" class="parts_target"></div>
                        <div id="command_datahandling_target" class="parts_target"></div>
                        <div id="transponder_target" class="parts_target"></div>
                        <img id="silhouette">
                    </div>
                    <div id="right" class="sides"></div>

                    <div id="housing_bubble_target" class="bubble_target"></div>
                    <div id="antenna_bubble_target" class="bubble_target"></div>
                    <div id="power_bubble_target" class="bubble_target"></div>
                    <div id="thermal_control_bubble_target" class="bubble_target"></div>
                    <div id="guidance_control_bubble_target" class="bubble_target"></div>
                    <div id="command_datahandling_bubble_target" class="bubble_target"></div>
                    <div id="transponder_bubble_target" class="bubble_target"></div>

                    <button class="basic_btn primary_btn quiz_btn-hidden quiz_btn" id ="quiz_btn_modal" data-toggle="modal" data-target="#handbuchHint" >
                        Hier gehts weiter!</button>
                    <button class="basic_btn primary_btn quiz_btn-hidden quiz_btn" id ="quiz_btn_noModal" >Zum Quiz!</button>
                </div>

                <div class="modal fade" id="handbuchHint" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Glückwunsch!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Du hast eine neue Seite im Handbuch freigeschaltet!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn basic_btn secondary_btn" onclick="location.href = 'guide'">
                                    Zum Handbuch</button>
                                <button type="button" class="btn basic_btn primary_btn" onclick="openLevel(1)">
                                    Weiter zum Quiz</button>
                            </div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript" src="@routes.Assets.versioned("javascripts/puzzle.js")"> </script>
            </body>
        </html>
    }